/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  background: rgba(0,0,0,.5) !important;
  font-family: sans-serif;
  overflow-y: hidden;
}



li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.month-active-dot::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
